<div class="container">

    <div class="row row-content">
        <div class="col-xs-12 col-sm-8">
            <h3 class="text-center">WEB FileBrowser</h3>
            <p class="text-center">Started in 2016, this Project is browsing files from Host path </p>
            <br/>
            <h4 class="text-info text-center"><span class="glyphicon glyphicon-info-sign"></span> You can set Root directory for FileBrowser in Web.config. By default Root Directory for FileBrowser is Host path. </h4>
        </div>
    </div>

</div>
